<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/transfer.css"/>
</head>
<body>
    <h2>
        <a href="/endpoint/new">Create End Point</a>
    </h2>
    <h2>Active End Points</h2>
    <table>
        <tr>
            <th>End Point</th>
            <th>Descritpion</th>
            <th>Owner</th>
            <th>URL</th>
        </tr>
{% if result %}
    {% for entry in result %}
        <tr>
            <td>
                <a href="/endpoint/{{ entry["ep_name"] }}">{{ entry["ep_name"] }}</a>
            </td>
            <td>{{ entry["description"] }}</td>
            <td>{{ entry["owner"] }}</td>
            <td>{{ entry["url"] }}</td>
        </tr>
    {% end %}
{% end %}
    </table>
</body>
