<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/transfer.css"/>
</head>
<body>
    <h2>Create Request</h2>
    <form action="/request/new" method="post">
        <div class="entry">
            <label for="user">User</label> 
            <input type="text" name="user" id="user"/>
        </div>
        <div class="entry">
            <label for="from_ep">From</label>
            <select name="from_ep" id="from_ep"/>
                {% for ep in ep_info %}
                <option value="{{ ep["ep_name"] }}">
                    {{ ep["ep_name"] }}
                </option>
                {% end %}
            </select>
        </div>
        <div class="entry">
            <label for="to_ep">To</label>
            <select name="to_ep" id="to_ep"/>
                {% for ep in ep_info %}
                <option value="{{ ep["ep_name"] }}">
                    {{ ep["ep_name"] }}
                </option>
                {% end %}
            </select>
        </div>
        <div class="entry">
            <label for="trans_protocol">Trans</label>
            <select name="trans_protocol" id="trans_protocol">
                <option value="scp">scp</option>
            </select>
        </div>
        <div>
        <input type="submit" value="Create Request">
        </div>
    </form>
</body>
</html>
